extends layout

block content
  // TODO: Replace this image with an actual gameplay
  //- Header Image Section
  img(src="https://picsum.photos/200/?blur" alt="..." height="500").d-block.w-100
  
  //- Play Now Section
  div.container.mt-5
    
    div.row
      div.col-sm-12.col-md-4.offset-md-4.d-grid
        a(type="button" href="/dashboard").btn.btn-lg.btn-success Play Now

  //- TODO: Fetch this from an API
  -
    var rulesData = [
      {
        id: 0,
        title: "Main Objective",
        content: "The first player to use all cards in their hand each round scores points for all of the cards that the other players are holding. The first player to call-out “UNO” and play their last card is declared the WINNER."
      },
      {
        id: 1,
        title: "There are a maximum of 108 cards."
      },
      {
        id: 2,
        title: "There are 19 Blue, Green, Red, and Yellow cards:"
      },
      {
        id: 3,
        title: "1.",
        content: "0-9 cards per color"
      },
      {
        id: 4,
        title: "2.",
        content: "2 skip cards per color"
      },
      {
        id: 5,
        title: "3.",
        content: "2 reverse cards per color"
      },
      {
        id: 6,
        title: "4.",
        content: "2 draw 2 cards per color"
      },
      {
        id: 7,
        title: "5.",
        content: "4 wild cards (1 per color)"
      },
      {
        id: 8,
        title: "6.",
        content: "4 wild draw 4 cards (1 per color)"
      },
      {
        id: 9,
        title: "Special cards and what they do:"
      },
      {
        id: 10,
        title: "1.",
        content: "Draw 2 card - The next player must draw 2 cards from the draw pile and forfeit their turn."
      },
      {
        id: 11,
        title: "2.",
        content: "Reverse card - The order of the game is reversed."
      },
      {
        id: 12,
        title: "3.",
        content: "Skip card - The next player is skipped."
      },
      {
        id: 13,
        title: "4.",
        content: "Wild card - The color of the current card may be switched to any color and the current player can continue playing."
      },
      {
        id: 14,
        title: "5.",
        content: "Wild draw 4 card - The next player must draw 4 cards and forfeit their turn. The current player must also select a new current color."
      },
      {
        id: 15,
        title: "Pre-game"
      },
      {
        id: 16,
        title: "Rule 1",
        content: "Each player is dealt 7 cards."
      },
      {
        id: 17,
        title: "Rule #2",
        content: "Remaining cards are now the draw pile."
      },
      {
        id: 16,
        title: "Game"
      },
      {
        id: 18,
        title: "Rule 1",
        content: "The top card from the draw pile is placed in the card pile."
      },
      {
        id: 19,
        title: "Rule 2",
        content: "Players, taking turns, must then place a card on top of the card pile that matches by number, color, or word. If a player has no playable card, they must draw a card from the draw pile. If the player still has no playable card, they are skipped."
      },
      {
        id: 21,
        title: "Rule 3",
        content: "Before a player plays their next to last card, they must press “UNO”. If they fail to do this and “no uno” is pressed, they must draw 4 cards from the draw pile."
      },
      {
        id: 22,
        title: "Rule 4",
        content: "Once a player plays their last card, the game is over and they are declared the WINNER."
      },
    ]

  //- Rules Section
  div.container.mt-5
    h2.text-center Rules
    p.text-center Here are some things to keep in mind while playing.
    hr
    div.row.mt-4
      each rule in rulesData
        div.col-sm-12.col-md-4
          .card.p-2
            .card-body
              h5.card-title=rule.title
              p.card-text=rule.content

  - 
    var faqData = [
      { 
        id: 0, 
        title: "Question 1", 
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nam eos facilis perferendis ipsa, facere repellat unde veniam dicta esse illo vitae, aliquam velit laboriosam amet culpa iure blanditiis eum."
      },
      { 
        id: 1, 
        title: "Question 2", 
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nam eos facilis perferendis ipsa, facere repellat unde veniam dicta esse illo vitae, aliquam velit laboriosam amet culpa iure blanditiis eum."
      },
      { 
        id: 2, 
        title: "Question 3", 
        content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nam eos facilis perferendis ipsa, facere repellat unde veniam dicta esse illo vitae, aliquam velit laboriosam amet culpa iure blanditiis eum."
      }
    ]

  //- FAQ Section
  div.container.mt-5
    h2.text-center FAQs
    p.text-center Find the answers to the questions you are probably thinking about.
    hr
    div.row.mt-4
      div.col-sm-12
        div(id="faq-accordian").accordion.accordian-flush
          each faq in faqData
            div.accordian-item
              h2(id="flush-heading"+faq.id).accordian-header
                button(type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse"+faq.id aria-expanded="false" aria-controls="flush-collapse"+faq.id).accordion-button.collapsed=faq.title 
              div(id="flush-collapse"+faq.id  aria-labelledby="flush-heading"+faq.id data-bs-parent="faq-accordian").accordian-collapse.collapse
                div.accordion-body=faq.content

  -
    var aboutData = [
      {
        name: "Andrei Georgescu",
        image: "https://picsum.photos/150/?blur"
      },
      {
        name: "Benjamin Kao",
        image: "https://picsum.photos/150/?blur"
      },
      {
        name: "Yangesh KC",
        image: "https://picsum.photos/150/?blur"
      },
      {
        name: "Abishek Neralla",
        image: "https://picsum.photos/150/?blur"
      }
    ]

  //- About Us Section
  div.container.mt-5.mb-5
    h2.text-center About Us
    p.text-center Learn more about the team behind this website.
    hr
    div.row.mt-4
      each item in aboutData
        div.col-sm-12.col-md-3
          div.card
            img(src=item.image).card-img-top
            .card-body
              strong.card-text.text-center=item.name